.navpanel {
  border-right: 1px solid $light-grey;

  &_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px 0 50px;
  }

  &_img {
    margin-bottom: 20px;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
    }
  }

  &_menu {
    height: 75vh;
  }

  &_items {
    margin-top: 20px;
    li {
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 5px 20px;
      border-radius: 10px;
      cursor: pointer;
      max-width: 150px;

      svg {
        margin-right: 5px;
        color: white;
        stroke: $green;
      }
    }
    // li:hover {
    //   background-color: rgba(0, 121, 119, .8);
    // }
  }

  &_submenu {
    border-top: 1px solid $light-grey;
  }
}

.active {
  background-color: $green !important;
  color: $white;
  svg {
    stroke: $white !important;
    color: $green !important;
  }
}
