.transportaion_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 7px;
  margin-bottom: 20px;

  &-img {
    max-width: 150px;
    max-height: 200px;
    margin-bottom: 10px;
  }

  &-text {
    text-align: center;
  }
}