.header {
  height: 70px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 0px 20px #aaaaaa;
  margin-bottom: 20px;
  z-index: 10;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  &__inner {
    display: flex;
    align-items: center;
    // padding-bottom: 10px;
    // border-bottom: 1px solid #aaaaaa;
  }
  
  &__logo {
    margin-right: 50px;
    font-size: 16px;
  }
}



.header-nav {
  margin-left: 50px;
  & .nav-item {
    padding: 0;
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.header__divider {
  &.MuiDivider-root {
    margin-right: 15px;
    margin-left: auto;
  }
}

.header-buttons {
  margin-left: auto;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.header-buttons-button {
  text-decoration: none;
}

.nav_menu {
  cursor: pointer;
  svg {
    height: 60px !important;
    width: 60px !important;
  }
}
