.sign {
  &_form {
    &-wrapper {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      align-content: center;
      justify-content: center;
      overflow: auto;
    }
  }
}

.form_card {
  &.MuiPaper-root {
    padding: 30px;
    background: #fff;
  }
}

.form {
  margin-top: 15px;

  &_error {
    color: $red;
    margin-top: 15px;
    text-align: center;
  }

  .MuiFormControl-root {
    width: 100%;
    margin-bottom: 10px;
  }

  &_select_inner {
    width: 100%;
  }
}

.login_form-card {
  padding: 30px;
  padding-top: 40px;
  width: 480px;
}

.login_form-footer {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login_form-link {
  text-decoration: none;
}

input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: 1px solid $green;
  background: $green;
  padding: 10px 20px;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: #036563;
}

.MuiSelect-select {
  display: flex !important;
  align-items: center;
  img {
    margin-right: 10px;
    height: 50px;
    width: 50px;
  }
}

.MuiMenuItem-root {
  img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
  }
}

.select_menu {
  width: 100%;
}
