.searchbar {
  border-bottom: 1px solid $light-grey;
  // width: 100%;

  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 70px;

    a {
      background-color: transparent !important;
    }
  }

  &_title h3 {
    font-weight: bold;
  }

  &_input {
    // border-radius: 20px;

    .MuiFormControl-root {
      min-width: 40vw;
      // margin-bottom: 10px;
    }

    .MuiOutlinedInput-root {
      border-radius: 15px;
      background-color: #EFEFEF;
      border: 0;
    }
  }
  
}

.MuiAutocomplete-endAdornment {
  display: none;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 9px !important;
}