.deteledInfo {
  height: 100%;
  width: 60%;

  &_wrapper {
    padding: 20px;
  }

  &_data {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 790px) { 

  .deteledInfo {
    width: 100%;

    &_data {
      display: flex;
      flex-direction: column;
    }
  }
}