
:root {
  --text-color: $light-grey;
  --nav-size: 60px;
  --border: 1px solid $light-grey;
  --border-radius: 8px;
  --speed: 500ms; 
}



/* Icon Button */
.icon-button {
  --button-size: calc(60px * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  border: 1px solid $light-grey;
  border-radius: 50%;
  padding: 5px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}

.icon-button:hover {
  filter: brightness(1.2);
}

.icon-button svg { 
  width: 20px;
  height: 20px;
}


/* Dropdown Menu */

.dropdown {
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: $white;
  border: 1px solid #000;
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
  transition: height var(--speed) ease;
}

.menu {
  width: 100%;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
  color: black !important;
}

.menu-item .icon-button {
  margin-right: 0.5rem;
}


.menu-item .icon-button:hover {
  filter: none;
}

.menu-item:hover {
  background-color: #036563;
  color: #fff !important;
  span {
    border: 1px solid #fff;
  }
  svg {
    fill: #fff;
  }
  h3 {
    color: #fff;
  }
}

.icon-right {
  margin-left: auto;
  fill: $green;
}

/* CSSTransition classes  */
.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}


.menu-secondary-enter {
  transform: translateX(110%);
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}


@media screen and (max-width: 790px) {
  .dropdown {
    width: 200px;
    padding: 0;
    right: -90px;
  }
}