.itemlist {
  position: absolute;
  z-index: 100;
  background-color: $white;
  width: 90%;
  margin: 0 auto;
  bottom: 70px;
  border-radius: 15px;
  border: 1px solid $light-grey;
  word-wrap: break-word;
  left: 0;
  right: 0;
  &_wrapper {
    padding: 30px 38px 10px 38px;

    .itemlist_moredetails {
      display: flex;
      justify-content: end;
      margin-top: 10px;
    }
  }
  table {
    border-collapse: collapse;
    width: 100%;
  }
  thead {
    th {
      padding-bottom: 10px;
    }
    tr {
      border-bottom: 1px solid $light-grey;
    }
  }
  tbody {
    td {
      padding-top: 10px;
      text-align: center;
    }
  }
}

@media screen and (max-width: 790px) {
  .itemlist{

    bottom: 40px;
    &_wrapper {
      padding: 10px;

      .small-button {
        font-size: 12px;
      }
    }
  }
  thead {
    th {
      font-size: 14px;
      // padding-bottom: 10px;
    }
  }

  tbody {
    td {
     font-size: 12px;

     .MuiButtonBase-root {
      font-size: 12px;
      padding: 0;
      margin-right: 5px;
     }
    }

  }
}
