.map {
  &_wrapper {
    width: 60%;
    height: 100%;
    position: relative;
    // border-radius: 15px;
  }
}

.radius {
  border-radius: 15px;
}

@media screen and (max-width: 790px) {
  .map {
    &_wrapper {
      width: 100%;
      height: 350px;
    }
  }
}