.button {
  background-color: $green;
  border-radius: 3px;
  padding: 5px 10px;
  border-color: $green;
  color: $white;
  font-size: $text-16-size;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;

  svg {
    fill: #fff !important;
    margin-right: 10px;
  }

  &_outline {
    background-color: $white;
    border-radius: 3px;
    padding: 5px 10px;
    border: 1px solid $green;
    color: $green;
    font-size: $text-16-size;
    transition: 0.3s;
  }

  &_outline:hover {
    background-color: $green;
    color: $white;
  }

  &_modal {
    margin-top: 20px;
    width: 100%;
  }

  &_sign {
    width: 100%;
    padding: 10px 10px;
  }
}

.button-68 {
  appearance: none;
  backface-visibility: hidden;
  background-color: $green;
  border-radius: 8px;
  border-style: none;
  // box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: Inter, -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 5px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-68:hover {
  background-color: #036563;
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
}

.button-68:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}

.button-68:hover {
  box-shadow: rgba(39, 174, 96, 0.2) 0 6px 12px;
}

.small-button {
  font-size: 14px;
  color: $green;
  background-color: inherit;
}

.button-cancel {
  background-color: red;
  border-radius: 3px;
  padding: 5px 10px;
  border-color: $green;
  color: $white;
  font-size: $text-16-size;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}
