.adminprofile {
  display: inline-block;
  overflow-y: scroll;
  &_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  }
  &_gretting {
    margin: 20px 0 50px;
  }

  &_info {
    margin: 0 50px;
    &-img {
      width: 300px;
      height: 300px;
    }

    &-creds {

    }
    &-data {
      h2 {
        margin: 20px 0;
      }
      h2:first-child {
        margin: 0 0 20px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  adminprofile_info-img {
    text-align: center;
  }
 }